{% extends 'base.html.twig' %}

{% block body %}
    <div class="editCity">
        <h2>Modifier le campus : {{ campus.name }}</h2>

        {{form_start(form)}}
        {{form_widget(form)}}

        <button type="submit">Enregistrer</button>

        {{form_end(form)}}
    </div>
{% endblock %}

{% block title %}Modifier le campus{% endblock %}

