{% extends 'base.html.twig' %}

{% block title %}
    City
{% endblock %}

{% block body %}
    <h2>Gérer les villes</h2>
    <h4>Filtrer les villes</h4>



    <tr>
        <td>Villes</td>
        <td>Code postal</td>
        <td>Actions</td>
    </tr>

{% endblock %}

