{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('admin_city')}}" title="Gérer les ville">Gérer les villes</a></li>
        <li><a href="{{ path('admin_campus')}}" title="Gérer les campus">Gérer les campus</a></li>
        <li><a href="{{ path('admin_users')}}" title="Gérer les users">Gérer les users</a></li>
{#        liste des user ( desactivation + supprimer) avec bouton création #}
{#        liste des events avec supprimer + inscrire utilisateur#}
    </ul>
{% endblock %}

{% block title %}Administrateur{% endblock %}

