{% extends 'base.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block body %}
    <aside id="modal2" class="modal" aria-hidden="true" role="dialog" aria-labelledby="title-modal" style="display: none">
        <div class="modal-wrapper js-modal-stop">
            <button class="js-modal-close">Fermer</button>
            <h1 id="title-modal">Conditions d'utilisations</h1>
            <h2>Bender, quit destroying the universe!</h2>
            <p>
                Hey, what kinda party is this? There's no booze and only one hooker. I barely knew Philip,
                but as a clergyman I have no problem telling his most intimate friends all about him. Ven ve
                voke up, ve had zese wodies.
            </p>
            <p>
                You know the worst thing about being a slave? They make you work, but they don't pay you or
                let you go. Oh, how awful. Did he at least die painlessly? <strong> …To shreds, you say.</strong>
                <em> Well, how is his wife holding up?</em> …To shreds, you say.
            </p>
            <a href="#">kdsojdwjf</a>
        </div>
    </aside>
{% endblock %}
