{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
    <div class="form-nom-home">
        <div class="form-home">
            {% include 'sorties/filter.html.twig' with {form: form} only %}

{#            {% if form.sorties.vars.data == '0' %}#}
{#                <p>print 0</p>#}
{#            {% else %}#}
{#                <p>print 1</p>#}
{#            {% endif %}#}
        </div>
        <div class="nom_et_date">
            <h1> Date du jour : {{ "now" |date('d/m/Y') }}</h1>
            <h1> Participant: {{ app.user.username }}</h1>
        </div>
    </div>
    <div id="tableContainer" class="tableContainer">
        <table class="scroll table_list">
            <thead class="fixedHeader list_entete">
            <tr class="alternateRow ">
                {# class="list_entete" #}
                <th> Nom de l'event</th>
                <th> Début</th>
                <th> Date limite</th>
                <th> Inscription/Max</th>
                <th> état</th>
                <th> Inscrit</th>
                <th> Organisateur</th>
                <th> Action</th>
            </tr>
            </thead>
            {# <div class="list" > #}
            <tbody class="scrollContent list">
            {% for event in events %}
{#                {% if form.sorties4.vars.data == '0' %}#}
{#                        {% include 'sorties/list.html.twig' %}#}
{#                {% elseif form.sorties4.vars.data == '1' and event.eventState.name == 'Terminé' %}#}
                        {% include 'sorties/list.html.twig' %}
{#                {% endif %}#}
{#                {% if form.sorties.vars.data == '1' and   app.user == event.organizer %}#}
{#                    {% include 'sorties/list.html.twig' %}#}
{#                {% elseif form.sorties2.vars.data == '1' and  app.user.id is same as(user.id)  %}#}
{#                    {% include 'sorties/list.html.twig' %}#}
{#                {% elseif form.sorties3.vars.data == '1' and   app.user.id is not same as(user.id)  %}#}
{#                    {% include 'sorties/list.html.twig' %}#}
{#                {% else %}#}
{#                    {% include 'sorties/list.html.twig' %}#}
{#                {% endif %}#}

            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('sorties_create') }}" title="Create event">Create event</a>
{% endblock %}
