{% extends 'base.html.twig' %}

{% block body %}
    <div class="updateMDP">
        <h2>Modifier mon mot de passe</h2>
        <a href="{# {{ path('user_upload') }} #}">Changer ma photo</a><br>
        <a href="{{ path('update_profil') }}">Modifier mon profil</a>


        {{ form(form) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

